---
import "@/styles/global.css";
import StoreProvider from "@/vue/components/StoreProvider.vue";
import Nav from "@/vue/components/Nav.vue";
import Footer from "@/vue/components/Footer.vue";
import ClientMiddlware from "@/vue/components/ClientMiddlware.vue";
const { title, meta, path } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title || "Default Title"}</title>
    <link rel="icon" href="/favicon.svg" type="image/x-icon" />
    <link rel="icon" href="/favicon-16x16.png" sizes="16x16" type="image/png" />
    <link rel="icon" href="/favicon-32x32.png" sizes="32x32" type="image/png" />
    <!-- Insert dynamic meta tags -->
    {
      meta &&
        meta.map((m) => {
          if (m?.name) return <meta name={m.name} content={m.content} />;
          else return <meta property={m?.property} content={m.content} />;
        })
    }
    <style>
      @font-face {
        font-family: "DoHyeon";
        src: url("/DoHyeon-Regular.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
      }
      body {
        font-family: "DoHyeon", sans-serif;
      }
    </style>
  </head>
  <body>
    <StoreProvider client:load>
      <ClientMiddlware path={path} client:load />
      <Nav client:load />
      <slot />
      <Footer />
    </StoreProvider>
  </body>
</html>
